tmp_for_checking.java
Settings.cfg
Settings.temp
avaaj.vbs
friendshipkasahimatlab.txt
output.txt
output.wav
record.wav
recording.wav
Resources
target
output_converted.wav
.vscode
PyEnv
Reminder.txt
architecturalPositioning.txt
__pycache__
testingPywinauto.py
AccessData.java
eFriend_main.java
search.java
sending_query_debugging.java
EngineIPC_main.java
ReadMe_*.md
A really honest review of this project.txt
